@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merienda:wght@400;700&display=swap');

@keyframes img2{

    from{/*estado inicial*/

        padding: 20px;
       

    }

    to{/*estado final*/
        padding: 10px;
       
    }
}
@keyframes iphone{

    from{/*estado inicial*/

        padding: 10px;
       

    }

    to{/*estado final*/
        padding: 0;
       
    }
}
*{ 
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
 
}
body{
    background-image: url(FUNDO.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
section h1{
    margin: 100px 0 115px 0px;
    font-weight: 700;
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
nav .container .auto .navbar-nav{
    margin-left: auto;
}
nav .container .auto .navbar-nav a{
    color: white;
}

nav .container .auto .navbar-nav a:hover{
    color: rgb(12, 238, 238);
}

.indent{
    text-indent: -3000px;
}
#logo{
   background: url(LOGO_1.png);
   margin: 15px;
   width: 248px;
   height: 85px;
}
section .container .row .sobrepor{
    padding: 10px;
    animation-name: iphone;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
     
}

#conteudo{
    background-image: url(FUNDO1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
   }


#conteudo img{
   
    padding: 20px;
   
}

#conteudo .img2{
    
    animation-name: img2;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
 }


#conteudo .container .row .sx0{
    color: blueviolet;
    font-family: 'Merienda', cursive;
    margin-bottom: 0;
    text-align: end;
}
#conteudo .container .row p{
    color: rgb(88, 30, 143);
    text-align: end;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    
}
#tela{
    background-color: #dc9b6e;
    text-align: center;
   
}
#tela h3{
    color: rgb(88, 30, 143);
    font-weight: 400;
}
#tela .row{
    padding: 50px 160px;
}
#rede{
    position: fixed;
    bottom: 240px;
    left: 15px;
    width: 50px;
    height: 135px;
    background-color: #f3914b;
    border-radius: 50px;
}
#rede i{
   margin-left: 9px;
   margin-top: 50%;
   color: white;
}
#ancora{
    position: fixed;
    bottom: 40%;
    left: 96.5%;
    width: 30px;
    height: 115px;
    background-color: #f3914b;
    border-radius: 50px;
}
#ancora .form-check{
    margin-left: 7.3px;
    margin-top: 11px;
}

.form-check-input{
    border: none;
    border-radius: 50px;
    background-color: #ffe6d4;
}
.form-check-input:hover{
    background-color: #ff6a00;
}
.container .row .col-12 .sx{
    text-align: center;
    font-family: 'Merienda', cursive; 
    color: blueviolet; 
    font-weight: 900; 
    font-size: 50px;
    margin: 0; 
    }
.container .row .col-12 .sx2{
    text-align: center; 
    font-family: 'Josefin Sans', sans-serif; 
    color: rgb(88, 30, 143); 
    font-weight: 400; 
    font-size: 40px; 
    margin: 0;
}
    @media (max-width: 576px) {
section .container .row .sobrepor{
    margin-left: 7%; 
    
 
       
}

#ancora{
    left: 92%;
}
section h1{
    font-size: 50px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
   

   
}
#conteudo .container .row .sx0 {
    text-align: center;
}
#rede{
   
    bottom: 20%;
    left: 2.5%;
}
#conteudo .container .row h1{
   text-align: center;
}
#conteudo .container .row p{
    text-align: center;
}
#conteudo img{
   width: 250px;   
   margin-left: 50px;
}
#tela .row{
    padding: 0px;
    margin-left: 0;
}


#ancora{
   left: -200%;
}

.container .row .col-12 .sx{
    margin-top: 20px;
    text-align: center;
    }
#tela .row img{
        padding: 10px;
        
}


}
@media (min-width: 576px) and (max-width: 768px) { 
    #ancora{
        left: 93%;
   }
    section h1{
    font-size: 50px;
   
    }
    #tela .row img{
        padding: 10px;
        
    }
    #ancora{
        bottom: 37.5%;
     }
    

   
 }


@media (min-width: 768px) and (max-width: 992px) {
    #ancora{
        left: 95%;
  }
  section h1{
    font-size: 60px;
   
}
#tela .row img{
    padding: 10px;
   
}


 }


@media (min-width: 992px) and (max-width: 1200px) { 
    #ancora{
        left: 96%;
  }
  #tela .row img{
    padding: 10px;
   
}

 }


@media (min-width: 1200px) { 
    #conteudo{
        margin-top: 200px;
        height: 750px;
    }
    

 }





